.container {
  width: 100%;
  max-width: 20rem;
  margin: 0.5rem 0;
}

.containerFullWidth {
  min-width: 100%;
}

.container input {
  width: 100%;
}

.error {
  hyphens: auto;
  margin-top: 0.25rem;
  display: block;
  color: var(--red-color);
}
