:root {
  --paper-color: #050505;
  --bg-color: #17181c;
  --fg-color: #201f24;
  --fg-secondary-color: #2b2c31;
  --icon-color: #61656e;
  --text-primary-color: #b8b9be;
  --text-secondary-color: #f8f8fa;
  --blue-color: #3587ee;
  --green-color: #00a173;
  --red-color: #d17777;
}
