.fullWidth {
  width: 100%;
}

.minFullWidth {
  min-width: 100%;
}

.maxWidthFull {
  max-width: 100%;
}

.mw-50 {
  max-width: 5rem;
}

.mw-100 {
  max-width: 10rem;
}

.mw-200 {
  max-width: 20rem;
}

.mw-400 {
  max-width: 40rem;
}

.w-50 {
  width: 5rem;
}

.w-100 {
  width: 10rem;
}

.w-200 {
  width: 20rem;
}

.w-400 {
  width: 40rem;
}

.font-size-50 {
  font-size: 0.5rem;
}

.font-size-100 {
  font-size: 1rem;
}

.font-size-120 {
  font-size: 1.2rem;
}

.font-size-150 {
  font-size: 1.5rem;
}

.font-size-200 {
  font-size: 2rem;
}
