.home {
  min-height: 100%;
  display: grid;
  grid-template-columns: minmax(300px, 25%) auto minmax(300px, 25%);
  grid-template-areas: "people content profile";
  background-color: var(--bg-color);
}

.login {
  min-height: 100%;
  padding: 0 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

@media (max-width: 1024px) {
  .home {
    grid-template-columns: 35% auto;
    grid-template-areas: "people content";
  }
}

@media (max-width: 480px) {
  .home {
    grid-template-columns: auto;
    grid-template-areas: "content";
  }
}
